.form-control-sm{
    border: 1px solid #cbc8d0;
}

div.mcqSet{
    padding: 30px;
    margin-bottom: 30px;
    background: #593196;
    border-radius: 2px;
}

div.mcqSet .form-control, div.mcqSet .form-control-sm{
    border: none;
    border-radius: 2px;
}