/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body {
    padding-top: 80px;
    background-color: #f7f9fb;
 }
 a{
     cursor: pointer;
 }
 .border-purple{
    border-color: #593196 !important;
 }
 input.ng-invalid.ng-touched, select.ng-invalid.ng-touched{
     border: 1px solid #FC3939;
 }