<div class="card text-center">
    <div class="card-body">
        <img src="assets/img/logo.png" alt="SBBU Logo">
        <hr>
        <h3>Welcome to Online Student Assesment System</h3>
        <hr>
        <p>This platform is developed for the facilitation of students and teachers, in regards of conducting class tests more
            effectively, without using pen and paper. It is a single page application, which makes it possible to conduct
            class tests online but it provides quick result to the student. .</p>
    </div>
</div>